<html>
  <head>
  </head>
  <body>
    <h1>Order Confirmation Detail</h1>
    <p>
     Thank you for your purchase from lagtag.com
 	</p>
 		<table>
 			<tr>
 				<td>Item Description</td>
 				<td>ruby on rails bags</td>
 			<tr>
 			<tr>
 				<td>Price</td>
 				<td>23</td>
 			<tr>
 			<tr>
 				<td>Quantity</td>
 				<td>2</td>
 			<tr>
 			<tr>
 				<td>Total Price</td>
 				<td>$ 39.00</td>
 			<tr>
 		</table>
  </body>
</html>