<header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><a href="/" ><%= image_tag "logo.jpg" , :class => "header-logo", :style => "width:37%;" %></a></figure>
  <%= render partial: 'spree/shared/nav_bar' %>
  <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
</header>
